@font-face {
	font-family: 'Rubik';
	src: url('../fonts/rubik.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/rubik.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/rubik.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/rubik.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/rubik.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/rubik.svg#rubik') format('svg'); /* Chrome < 4, Legacy iOS */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(155, 150, 150);
  font-family: 'Rubik', sans-serif;
}

.disabled {
  display: none;
}

.container {

}

.menu__container {
  width: 360px;
  padding: 25vh 0;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 20px;
}

.menu__button-container {
  height: 50vh;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu__btn {
  min-height: 50px;
  padding: 10px;
}

.settings__container {
  width: 360px;
  height: 100vh;
  padding: 20px 0;
  margin: 0 auto;
  border: 2px solid red;
  border-radius: 20px;
}

